.accounts {
  color: map-get($map: $color, $key:focus);
  font-weight: $font-weight-regular;
  line-height: 1;

  &__quantity {
    margin-right: 15px;

    font-size: 48px;
    font-weight: $font-weight-bold;
  }

  &__currency {
    margin-bottom: 7px;
    font-size: 16px;
    font-weight: $font-weight-bold;
  }

  &__remark {
    font-size: 10px;
    color: map-get($map: $color, $key:remark);
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__total {
    font-size: 10px;
    color: #484848;
  }

  @include do($sm) {
    &__row {
      justify-content: center;
    }

    &__total {
      font-size: 12px;
    }
  }
}
