.filter {
  &__wrapper {
    padding-top: 65px;
  }
  
  &__side {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__title {
    margin-right: 30px;
  }

  &__options {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &__option {
    display: block;
    padding-top: 3px;
    padding-bottom: 7px;
    font-size: 14px;
    line-height: normal;
    font-weight: $font-weight-medium;
    color: map-get($map: $color, $key: focus);
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    &:not(:last-of-type) {
      margin-right: 50px;
    }
    &:hover{
      color: map-get($map: $color, $key: light);
      .filter__state{
        border-top: 1px dashed map-get($map: $color, $key: light);
      }
    }
    &.is-active {
      .filter__state {
        border-top: 0;
        &-part {
          visibility: visible;
          opacity: 1;
        }
      }
      &:hover{
        color: map-get($map: $color, $key: focus);
        .filter__state {
          border-top: 0;
        }
      }
    }

  }

  &__state {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 5px;
    border-top: 1px dashed map-get($map: $color, $key: focus);
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    transition: 0.3s;
    &-part {
      position: relative;
      width: 50%;
      height: 5px;
      visibility: hidden;
      opacity: 0;
      transition: 0.3s;

      &--left {
        &::before {
          content: " ";
          display: block;
          height: 5px;
          border-top: 1px solid map-get($map: $color, $key: focus);
          position: absolute;
          top: 0;
          right: 5px;
          bottom: 0;
          left: 0;
        }

        &::after {
          content: " ";
          display: block;
          width: 7px;
          height: 1px;
          border-top: 1px solid map-get($map: $color, $key: focus);
          position: absolute;
          top: 0;
          right: -2px;
          bottom: auto;
          left: auto;
          transform-origin: left;
          transform: rotate(45deg);
        }
      }

      &--right {
        &::before {
          content: " ";
          display: block;
          width: 7px;
          height: 1px;
          border-top: 1px solid map-get($map: $color, $key: focus);
          position: absolute;
          top: 0;
          right: auto;
          bottom: auto;
          left: -2px;
          transform-origin: right;
          transform: rotate(-45deg);
        }

        &::after {
          content: " ";
          display: block;
          height: 5px;
          border-top: 1px solid map-get($map: $color, $key: focus);
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 5px;
        }
      }
    }
  }

  &__main {
    margin-top: 39px;
  }

  &__list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: -20px -20px -15px -20px;
  }

  &__item {
    @include flex-column(1, 3, 20px);
    margin: 20px 20px 15px 20px;
    text-decoration: none;
  }

  @include do(1200px) {
    &__side{
      display: block;
    }
    &__title{
      margin-right: 0px;
    }
    &__main{
      margin-top: 50px;
    }
    &__options{
      padding-top: 28px;
    }
  }
  @include do(768px) {
    &__options{
      justify-content: space-between;
      padding-top: 28px;
    }
    &__option{
      &:not(:last-child){
        margin-right: 0px;
      }
    }
    &__list {
      margin: -20px -10px -15px -10px;
    }
    &__item {
      @include flex-column(1, 2, 10px);
      margin: 20px 10px 15px 10px;
    }
  }
  @include do(540px) {
    &__options{
      flex-wrap: wrap;
      margin: -10px -10px -10px -10px;
    }
    &__option{
      text-align: center;
      @include flex-column(1, 2, 10px);
      &:not(:last-child),
      &:last-child{
        margin: 10px 10px 10px 10px;
      }
    }
    &__list {
      margin: -20px 0px -15px 0px;
    }
    &__item {
      @include flex-column(1, 1, 0px);
      margin: 20px 0px 15px 0px;
    }
  }
  @include do(374px) {
    &__options{
      flex-wrap: wrap;
      margin: -10px 0px -10px 0px;
    }
    &__option{
      text-align: center;
      @include flex-column(1, 1, 0px);
      &:not(:last-child),
      &:last-child{
        margin: 10px 0px 10px 0px;
      }
    }
  }
  @include do($sm) {
    &__wrapper {
      padding-top: 40px;
    }
  }
}