.filelist {
  &__item {
    &--pdf {
      .filelist__link {
        padding-left: 40px;

        &::before {
          width: 28px;
          height: 31px;
          background-color: transparent;
          background-image: url("../images/icons/pdf/white.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100%;
        }
      }
    }
  }

  &__link {
    display: block;
    position: relative;

    &::before {
      content: " ";
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}
