.footer {
  &__wrapper{
    padding-top: 74px;
    padding-bottom: 117px;
  }
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__column {
    font-size: 14px;
    line-height: 26px;
    font-weight: $font-weight-regular;
    color: map-get($map: $color, $key: light);

    a {
      color: map-get($map: $color, $key: light);
      transition: 0.3s;

      &:hover {
        color: map-get($map: $color, $key: focus);
      }
    }
  }

  &__copyright,
  &__disclaimer-link,
  &__filelist .filelist__link {
    opacity: 0.3;
  }

  &__copyright {
    &-year {
      padding-right: 5px;
      padding-left: 5px;
    }
  }

  &__disclaimer {
    &-part {
      display: block;
    }

    &-text {
      opacity: 0.15;
    }

    &-link {
      padding-left: 5px;
    }
  }

  &__filelist {
    .filelist {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      &__item {
        &:not(:last-of-type) {
          margin-right: 45px;
        }
      }
    }
  }
  @include do(1200px) {
    &__disclaimer{
      &-part{
        &:not(:last-child){
          margin-bottom: 12px;
        }
      }
    }
    &__filelist {
      .filelist{
        flex-direction: column;
        &__item{
          &:not(:last-child){
            margin-right: 0px;
            margin-bottom: 12px;
          }
        }
      }
    }
  }
  @include do(992px) {
    &__row{
      display: block;
    }
    &__copyright {
      margin-bottom: 32px;
      text-align: center;
    }
    &__disclaimer {
      margin-bottom: 42px;
      text-align: center;
    }
    &__filelist {
      .filelist{
        flex-direction: row;
        justify-content: center;
        &__item{
          &:not(:last-child){
            margin-right: 35px;
          }
        }
      }
    }
  }
  @include do(568px) {
    &__disclaimer {
      margin-bottom: 32px;
    }
    &__filelist {
      text-align: center;
      .filelist{
        display: inline-block;
        &__item{
          text-align: left;
          &:not(:last-child){
            margin-right: 0px;
            margin-bottom: 12px;
          }
        }
      }
    }
  }
}
