.goods {
  &__list {
    @include reset-list();

    &.default-state {
      display: flex;
    
      .good {
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    &.carousel-state {
      .owl-stage-outer {
        overflow: visible;
      }
    }
  }
}

.good {
  flex: none;
  width: 225px;

  display: flex;
  cursor: pointer;

  text-decoration: none;

  &:hover {
    .good {
      &__background {
        transform: scale(1.1);
      }
    }
  }

  &__wrapper {
    flex: auto;
    display: flex;
    flex-direction: column;

    color: map-get($map: $color, $key:light);
  }

  &__main {
    position: relative;
    float: auto;
    display: flex;
    flex-direction: column;

    padding: 15px 20px 20px;
    overflow: hidden;
  }

  &__background {
    position: absolute;
    @include trbl(0);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s;

    &::before {
      content: "";
      position: absolute;
      @include trbl(0);
      background-color: rgba(20, 20, 20, 0.8);
      box-shadow: 0 0 150px 0 rgba(0, 0, 0, 0.3);
    }
  }

  &__title {
    position: relative;
    margin-top: 0;
    margin-bottom: 35px;

    font-size: 16px;
    line-height: 1.2;
    font-weight: $font-weight-medium;
  }

  &__image {
    position: relative;
    margin-top: auto;

    @include size(100%, 175px);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__side {
    flex: auto;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 12px;
  }

  &__price {
    width: 100%;
    margin: 18px 0;
    font-size: 16px;
    line-height: 1.5;
    font-weight: $font-weight-bold;

    span {
      font-size: 34px;
      line-height: 1;
    }

    &.is-hidden {
      display: none;
    }
  }

  &__button {
    align-self: flex-start;
    margin-top: auto;
    display: inline-block;


    &--lg {
      display: block;
      width: 100%;
      max-width: 145px;
    }
  }

  &__timer {
    margin-top: 17px;
    margin-bottom: 15px;
  }
}