.header {
  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__logo {
    flex: initial;
    width: auto;

    &--mr-auto {
      margin-right: auto;
    }

    &--ml-auto {
      margin-left: auto;
    }
  }

  &__nav {
    margin: 0 15px;
    flex: auto;
    width: auto;
  }

  &__menu-toggle {
    display: none;
  }

  &__button {
    display: none;

    &_md-visible {
      @include do($md) {
        display: inline-block;
      }
    }

    &_md-hidden {
      @include do($md, "min-width") {
        display: inline-block;
      }
    }
  }

  @include do($xl) {
    .header {
      &__wrapper {
        justify-content: flex-start;
      }
      &__logo {
        &--ml-auto {
          display: none;
        }
      }
    }
  }

  @include do(950px) {
    .header {
      &__nav {
        display: none;
      }

      &__logo {
        &--mr-auto {
          margin-right: 60px;
        }

        &--ml-auto {
          margin-left: 0;
          display: block;
        }
      }

      &__menu-toggle {
        display: block;
        margin-left: auto;
      }
    }
  }

  @include do($sm) {
    .header {
      &__logo {
        &--ml-auto {
          margin-right: 15px;
        }
        &--mr-auto {
          margin-right: 15px;
        }
      }
      &__toggle-menu {
        @include size(50px);
      }
    }
  }
}

