@keyframes rotate360 {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.menu-toggle {
  position: relative;
  @include size(75px);
  background-color: rgba(0,0,0,0);
  border: none;

  &:focus {
    outline: none;
  }


  &__background {
    position: absolute;
    @include trbl(0);
    background: url('../images/icons/circle.png') 50% 50% no-repeat;
    animation: rotate360 30s linear infinite forwards;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include size(30px, 100%);
    margin: 0 auto;

    span {
      margin-bottom: 5px;
      @include size(30px, 4px);
      border-radius: 3px;
      background-color: map-get($map: $color, $key:light);
      transition: all 0.3s;

      &:nth-child(odd) {
        width: 19px;
      }

      &:first-child {
        margin-right: auto;
      }

      &:last-child {
        margin-left: auto;
        margin-bottom: 0;
      }
    }
  }

  &.is-active {
    .menu-toggle {
      &__content {
        span {
          &:nth-child(odd) {
            width: 15px;
          }

          &:first-child {
            transform: rotate(45deg) translate(3px, 1px);
          }

          &:nth-child(2) {
            transform: rotate(-45deg);
          }

          &:last-child {
            transform: rotate(45deg) translate(-4px, -1px);
          }
        }
      }
    }
  }
}

@include do($sm) {
  .menu-toggle {
    &__background {
      display: none;
    }
  }
}