.fancybox {
  &-bg {
    background-color: rgba(black, 0.8);
  }

  &-content {
    width: 100%;
    padding: 0;
    overflow: visible;
  }

  &-slide {
    &--html {
      padding: 0 50px;
    }
  }

  &-active {
    // overflow: hidden;
  }

  @include do(1050px) {
    &-slide {
     &--html {
       padding: 0 20px;
     }
    }
  }
}

.modal {
  max-width: 1100px;
  &__wrapper {
    position: relative;
    padding: 0 30px;
  }

  &__background {
    position: absolute;
    @include trbl(0);
    background: #191919 url("../images/bg/modal-bg.png") 50% 50% repeat-y;
  }

  &__dropdown {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 100%;
    max-width: 95%;
    transform: translate(-50%, 100%);
    padding: 30px 35px;
    font-size: 14px;
    font-weight: $font-weight-regular;
    line-height: 1.7;
    color: map-get($map: $color, $key:light);
    background:url("../images/bg/dropdown-bg.jpg") 50% 50% no-repeat;
    background-size: cover;
    z-index: 1;

    p {
      margin: 0;
    }
  }

  &__close {
    position: absolute;
    top: 10px;
    right: -35px;

    padding: 0;
    @include size(18px);
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: all 0.3s;

    &:focus {
      outline: none;
    }

    &:active {
      opacity: 0.9;
    }

    svg {
      fill: map-get($map: $color, $key:focus);
    }
  }

  &__side {
    position: relative;
  }

  &__main {
    position: relative;
  }

  @include do(1050px) {
    margin: 100px 0;
    max-width: 500px;

    &__wrapper {
      max-width: 500px;
    }

    &__close {
      top: -47px;
      right: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.modal--preview {
  .modal {
    &__wrapper {
      display: flex;
      align-items: flex-start;
      padding-top: 35px;
      padding-bottom: 30px;
      font-weight: $font-weight-medium;
    }

    &__age {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
    }

    &__side {
      flex: none;
      width: 300px;
      margin-right: 40px;

      span {
        display: inline-block;
        max-width: 65%;
        font-size: 10px;
        line-height: 1;
        font-weight: $font-weight-medium;
        color: map-get($map: $color, $key:remark);
      }
    }

    &__image {
      width: 100%;
      max-width: 300px;
      height: 275px;
      margin-bottom: 35px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__main {
      flex: auto;
      width: 100%;
      color: map-get($map: $color, $key:light);
    }

    &__content {
      padding-bottom: 40px;
      border-bottom: 1px dashed #4e4e4e;
    }

    &__title {
      font-size: 42px;
      margin-bottom: 25px;

      line-height: 1;
      font-weight: $font-weight-bold;
    }

    &__description {
      max-width: 610px;
      font-size: 18px;
      line-height: 1.35;
      font-weight: $font-weight-regular;
    }

    &__footer {
      padding-top: 35px;
    }

    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 18px;
    }

    &__col {
      &-group {
        display: flex;
        align-items: center;
      }
    }

    &__subtitle {
      width: 335px;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-right: 15px;

      font-size: 28px;
      line-height: 1.2;
      font-weight: $font-weight-bold;
    }

    &__accounts {
      position: relative;
      padding-left: 15px;
      width: 185px;

      &::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        width: 1px;
        height: 30px;
        background-color: rgba(map-get($map: $color, $key:light), 0.2);
      }

      &__button {
        flex: none;
        width: 145px;
      }
    }
  }

  @include do($xl) {
    .modal {
      &__row {
        display: block;
      }

      &__col-group {
        margin-bottom: 20px;
      }

      &__content {
        padding-bottom: 20px;
      }

      &__footer {
        padding-top: 20px;
      }
    }
  }

  @include do(1050px) {
    .modal {
      &__wrapper {
        display: block;
      }

      &__side {
        width: 100%;
        margin-bottom: 15px;
      }
      
      &__image {
        max-width: 100%;
        height: 245px;
        margin-bottom: 10px;
      }

      &__title {
        margin-bottom: 15px;
      }

      &__description {
        font-size: 16px;
        line-height: 1.5;
      }

      &__content {
        padding-bottom: 23px;
      }

      &__subtitle {
        width: 255px;
        font-size: 20px;
        line-height: 1.3;
      }

      &__accounts {
        width: 175px;
      }

      &__row {
        margin-bottom: 35px;
      }

      &__col {
        &:last-child {
          max-width: 145px;
          margin-left: auto;
          margin-right: auto;

          .button {
            width: 100%;
          }
        }
      }

      &__trigger-dropdown {
        display: block;
        margin: 0 auto;
      }

      &__age {
        top: -39px;
        width: 68px;
        height: 68px;
      }

      &__dropdown {
        max-width: 100%;
        // bottom: -100px;
        // margin-bottom: 100px;
      }
    }
  }

  @include do($sm) {
    .modal {
      &__col {
        &-group {
          display: block;
        }
      }

      &__subtitle {
        width: 100%;
        padding-right: 0;
        padding-bottom: 0;
        margin-bottom: 20px;
        text-align: center;
      }

      &__accounts {
        width: 100%;
        padding-left: 0;

        &::before {
          content: none;
        }
      }
    }
  }
}

.modal--confirm {
  .modal {
    &__wrapper {
      padding: 90px 45px 85px;
    }

    &__main {
      margin-bottom: 65px;

      text-align: center;
      font-weight: $font-weight-bold;
    }

    &__title {
      margin-bottom: 20px;
      
      font-size: 38px;
      line-height: 1.2;
      color: map-get($map: $color, $key:light);
    }

    &__total {
      font-size: 42px;
      text-transform: uppercase;
      color: map-get($map: $color, $key:focus);
      line-height: 1.2;
    }

    &__side {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__button {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  @include do(1050px) {
    .modal{
      &__wrapper{
        padding-top: 30px;
        padding-right: 20px;
        padding-bottom: 40px;
        padding-left: 20px;
      }
      &__main{
        margin-bottom: 30px;
      }
      &__title{
        margin-bottom: 22px;
        font-size: 32px;
        line-height: 1.35;
      }
      &__total{
        font-size: 32px;
      }
    }
  }
  @include do(540px) {
    .modal {
      &__wrapper {
        padding-top: 25px;
        padding-right: 10px;
        padding-bottom: 30px;
        padding-left: 10px;
      }
      &__main{
        margin-bottom: 28px;
      }
      &__title{
        margin-bottom: 12px;
        font-size: 26px;
      }
      &__total{
        font-size: 24px;
      }
      &__side{
        display: block;
        padding-right: 10px;
        padding-left: 10px;
        button{
          width: 100%;
          &:not(:last-child){
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

.modal--processing {
  .modal {
    &__wrapper {
      padding: 40px 45px;
      text-align: center;
    }

    &__close {
      display: none;
    }

    &__container {
      width: 100%;
      max-width: 705px;
      margin: 0 auto;
    }
  
    &__main {
      padding-bottom: 20px;
      font-weight: $font-weight-bold;
      line-height: 1.2;
      color: map-get($map: $color, $key:light);
      border-bottom: 1px dashed #4c4c4c;
    }

    &__title {
      margin-bottom: 5px;
      font-size: 42px;
    }

    &__code {
      margin-bottom: 45px;

      font-size: 52px;
      color: map-get($map: $color, $key:focus);
    }

    &__side {
      padding-top: 20px;
      
      p {
        margin-bottom: 35px;
      }
    }

    &__button {
      width: 100%;
      max-width: 190px;
      margin: 0 auto;
    }
  }

  p {
    margin: 0;
    font-size: 18px;
    line-height: 1.45;
    font-weight: $font-weight-medium;
    color: map-get($map: $color, $key:light);
  }
  @include do(1050px) {
    .modal{
      &__wrapper{
        padding-top: 30px;
        padding-right: 10px;
        padding-bottom: 40px;
        padding-left: 10px;
      }
      &__title{
        margin-bottom: 11px;
        font-size: 32px;
        line-height: 1.35;
      }
      &__code{
        margin-bottom: 22px;
        font-size: 40px;
      }
    }
  }
  @include do(1050px) {
    .modal{
      &__wrapper{
        padding-top: 25px;
        padding-right: 10px;
        padding-bottom: 30px;
        padding-left: 10px;
      }
      &__title{
        margin-bottom: 11px;
        font-size: 32px;
        line-height: 1.35;
      }
      &__code{
        margin-bottom: 22px;
        font-size: 28px;
      }
    }
    p{
      font-size: 16px;
      line-height: 26px;
    }
  }
}

.modal--navigation {
  vertical-align: top;
  overflow: hidden;
  &.modal{
    max-width: 100%;
    margin: 0;
    background: none;
  }
  .modal {
    &__wrapper{
      max-width: 100%;
      padding: 0;
    }
    &__background {
      width: 100%;
      background: none;
      left: 50%;
      transform: translateX(-50%);
      canvas {
        width: 1000px !important;
        height: 420px !important;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__close {
      display: none;
    }
    &__side .modal__close {
      position: relative;
      top: auto;
      right: auto;
      display: block;
      margin-right: 95px;
      @include size(auto);

      svg {
        fill: map-get($map: $color, $key:light);
      }
    }

    &__container {
      display: flex;
      align-items: flex-start;
      width: 100%;
      max-width: 540px;
      padding: 45px 20px 155px;
      margin: 0 auto;
      .header__button{
        display: block;
      }
    }

    &__main {
      flex: none;
      width: 260px;
    }

    &__side {
      padding-top: 70px;
    }
  }
  @include do(540px) {
    .modal{
      &__background {
        canvas {
          width: 580px !important;
          height: 420px !important;
        }
      }
      &__side {
        padding-top: 0;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 10;
        .modal__close{
          margin-right: 0;
          svg {
            display: block;
            width: 30px;
            height: 30px;
          }
        }
      }
      &__container {
        padding: 25px 20px 155px;
      }
      &__main{
        margin: 0 auto;
        .nav{
          display: block;
          &__list{
            margin-right: 0;
          }
          &__item{
            margin-right: 0;
          }
        }
      }
    }
  }
}