.nav {
  display: flex;
  align-items: center;

  &__list {
    @include reset-list();
    display: flex;
    align-items: center;

    margin-right: 80px;
  }

  &__item {
    margin-right: 60px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__item a {
    display: flex;
    align-items: center;

    font-size: 14px;
    line-height: 1.7;
    color: map-get($map: $color, $key: light);
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;

    &:hover {
      color: map-get($map: $color, $key: focus);
    }

    &:active {
      opacity: 0.9;
    }

    &::before {
      content: "";
      margin-right: 8px;
      @include size(20px);
      background: url("../images/icons/bullet.png") 50% 50% no-repeat;
      background-size: cover;
    }
  }
}

.nav--vertical {
  .nav {
    &__list {
      display: block;
    }
  }
}

@include do($xxl) {
  .nav {
    &__list {
      margin-right: 60px;
    }

    &__item {
      margin-right: 45px;
    }

    &__item a {
      font-size: 12px;
    }
  }
}

@include do($xl) {
  .nav {
    &__list {
      margin-right: 30px;
    }

    &__item {
      margin-right: 30px;
    }
  }
}

@include do(950px) {
  .nav--vertical {
    .nav {
      &__item {
        &:not(:last-of-type){
          a{
            border-bottom: 1px dashed #53769e;
          }
        }
      }
      &__item a {
        padding: 25px 0;
        font-size: 14px;

        &::before {
          margin-right: 10px;
        }
      }
    }
  }
}
