.offer {
  &__image {
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 150px 0 rgba(0, 0, 0, 0.3);
    position: relative;

    &::after {
      content: " ";
      display: block;
      padding-top: 66%;
    }

    &-wrapper {
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: 0.3s;
    }
  }

  &__data {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 9px;
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 18px;
    font-weight: $font-weight-bold;
    color: map-get($map: $color, $key: light);
  }

  &__quantity {
    transition: 0.3s;
    &--total {
      margin-right: 20px;
      opacity: 0.3;
    }

    &--available {
      opacity: 0.7;
    }

    &-value {
      padding-right: 5px;
    }
  }
  &:hover{
    .offer__image {
      &-wrapper {
        transform: scale(1.1);
      }
    }
    .offer__data {
      color: map-get($map: $color, $key: focus);
    }
    .offer__quantity {
      &--total {
        opacity: 0.6;
      }
      &--available {
        opacity: 1.0;
      }
    }
  }
  @include do(540px) {
    &__image{
      max-height: 245px;
    }
    &__data{
      justify-content: center;
    }
  }
}