.owl {
  &-stage {
    display: flex;
  }

  &-item {
    flex: none;
    display: flex;
    opacity: 0.5;
    &.active{
      opacity: 1;
      &.is-last{
        opacity: 0.5;
      }
    }
  }

  &-dots {
    display: none;
  }
}
