.partners {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: -10px -10px -10px -10px;

  &__item {
    @include flex-column(1, 4, 10px);
    margin: 10px 10px 10px 10px;
  }

  &__link {
    display: block;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 150px 0 rgba(0, 0, 0, 0.3);
    position: relative;

    &::after {
      content: " ";
      display: block;
      padding-top: 75.5%;
    }

    &:hover {
      .partners__image {
        transform: scale(1.1);
      }
    }
  }
  &__image {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.3s;
  }
  @include do(1200px) {
    margin: -20px -20px -20px -20px;
    &__item {
      @include flex-column(1, 3, 20px);
      margin: 20px 20px 20px 20px;
    }
  }
  @include do(768px) {
    margin: -10px -10px -10px -10px;
    &__item {
      @include flex-column(1, 2, 10px);
      margin: 10px 10px 10px 10px;
    }
  }
  @include do(540px) {
    margin: -10px 0px -10px 0px;
    &__item {
      @include flex-column(1, 1, 0px);
      margin: 10px 0px 10px 0px;
    }
    &__item,
    &__link{
      max-height: 245px;
    }
  }
}
