.timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: -12px;

  &__side {
    max-width: 65px;
    font-size: 12px;
    font-weight: $font-weight-bold;
    line-height: 1;
    color: map-get($map: $color, $key:light);
  }

  &__main {
    display: flex;
    align-items: center;
  }

  &__item {
    position: relative;
    width: 50px;
    flex: initial;
    text-align: center;
    font-weight: $font-weight-bold;
    line-height: 1;
  }

  &__value {
    padding: 4px 0;
    font-size: 25px;
    color: map-get($map: $color, $key:light);
  }

  &__item#hours {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 4px;
      width: 1px;
      height: 27px;
      background-color: rgba(map-get($map: $color, $key:light), 0.2);
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  &__unit {
    font-size: 12px;
    color: map-get($map: $color, $key:focus);
  }
}