.block {
  position: relative;

  &__wrapper {
    position: relative;
    margin: 0 auto;
    padding: 35px 30px;
    max-width: $max-width;
  }
}

.block--partners {
  .subtitle {
    margin-top: 2px;
  }
  .block__wrapper {
    padding-top: 103px;
  }
  .block__main {
    padding-top: 93px;
  }
  @include do(1200px) {
    .block__wrapper{
      padding-top: 65px;
    }
    .title{
      font-size: 40px;
    }
    .subtitle{
      font-size: 30px;
    }
    .block__main{
      padding-top: 70px;
    }
  }
  @include do(992px) {
    .block__wrapper{
      padding-top: 65px;
    }
    .title{
      margin-bottom: 20px;
      font-size: 28px;
      text-align: left;
    }
    .subtitle{
      margin-top: 0px;
      font-size: 17px;
      line-height: 25px;
      text-align: left;
    }
    .block__main{
      padding-top: 50px;
    }
  }
  @include do(540px) {
    .block__wrapper{
      padding-top: 40px;
    }
    .block__main{
      padding-top: 50px;
    }
  }
}

.block--intro {
  overflow: hidden;
  .block {
    &__side {
      display: flex;
      align-items: center;
      margin-bottom: 60px;
    }

    &__wrapper {
      padding-bottom: 0;
    }

    &__logo {
      flex: none;
      margin-right: 7.5%;
    }

    &__title {
      flex: none;
      width: 205px;

      margin-right: 5.835%;
    }

    &__main {
      padding-bottom: 60px;
      border-bottom: 1px dashed #49444c;
    }
  }

  @include do($xxl) {
    .block {
      &__logo {
        margin-right: 3%;
      }

      &__title {
        margin-right: 2px;
      }
    }
  }

  @include do($lg) {
    .block {
      &__wrapper {
        padding-top: 25px;
      }
      &__side {
        flex-wrap: wrap;
      }

      &__logo,
      &__title {
        margin-bottom: 29px;
      }

      &__title {
        margin-right: 0;
      }

      &__subtitle {
        width: 100%;
        max-width: 505px;
      }
    }
  }

  @include do(768px) {
    .block {
      &__logo {
        width: 200px;
        margin-right: 25px;
      }
    }
  }

  @include do($sm) {
    .block {
      &__title,
      &__logo {
        margin-bottom: 20px;
      }

      &__side {
        margin-bottom: 40px;
      }

      &__main {
        padding-bottom: 40px;
      }
    }
  }
}

@include do(768px) {
  .block {
    &__wrapper {
      max-width: 540px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}


@include do($sm) {
  .block {
    &__wrapper {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}