html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  text-size-adjust: 100%;
  font-family: $font-primary;
  font-size: map-get($map: $text-base, $key:font-size);
  line-height: map-get($map: $text-base, $key:line-height);
  font-weight: map-get($map: $text-base, $key:font-weight);
  color: map-get($map:$color, $key:default);
  overflow-y: scroll;
  cursor: default;
}

.body {
  display: flex;
  flex-direction: column;
  min-width: 320px;

  &__wrapper {
    position: relative;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;

    background-color: #000000;
  }
  &__background,
  &__pattern{
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
  &__background{
    bottom: auto;
    z-index: 10;
    &-wrapper{
      position: relative;
    }
    &-image{
      background-color: transparent;
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    &--legion{
      .body__background-wrapper{
        min-height: 1000px;
        padding-top: 52%;
      }
      .body__background-image{
        background-image: url("../images/bg/legion.png");
      }
    }
  }
  &__pattern{
    bottom: 0;
    z-index: 20;
    &-wrapper{
      display: flex;
      flex-direction: column;
      align-items: stretch;
      height: 100%;
    }
    &-top{
      display: flex;
      width: 100%;
      height: 1911px;
      flex: none;
    }
    &-top-left{
      background-image: url("../images/bg/pattern/top-left.png");
      background-position: bottom right;
      background-repeat: repeat-x;
    }
    &-top-center{
      background-image: url("../images/bg/pattern/top-center.png");
      background-position: bottom center;
      background-repeat: no-repeat;
    }
    &-top-right{
      background-image: url("../images/bg/pattern/top-right.png");
      background-position: bottom left;
      background-repeat: repeat-x;
    }

    &-bottom{
      display: flex;
      width: 100%;
      height: 100%;
    }
    &-bottom-left{
      background-image: url("../images/bg/pattern/bottom-left.png");
      background-position: top right;
      background-repeat: repeat;
    }
    &-bottom-center{
      background-image: url("../images/bg/pattern/bottom-center.png");
      background-position: top center;
      background-repeat: repeat-y;
    }
    &-bottom-right{
      background-image: url("../images/bg/pattern/bottom-right.png");
      background-position: top left;
      background-repeat: repeat;
    }

    &-top-left,
    &-top-right,
    &-bottom-left,
    &-bottom-right{
      width: 100%;
      height: 100%;
      background-color: transparent;
      flex: auto;
    }
    &-top-center,
    &-bottom-center{
      width: 1777px;
      height: 100%;
      background-color: transparent;
      flex: none;
    }
  }

  &__header,
  &__content,
  &__footer {
    flex: 0 0 auto;
    position: relative;
    z-index: 30;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer {
    margin-top: auto;
  }

  &.navigation-is-open{
    .fancybox-slide--html{
      padding: 0;
    }
  }
}


@include do(950px, "min-width") {
  .body.navigation-is-open {
    .fancybox-container {
      display: none;
    }
  }
}
