.button {
  position: relative;
  -webkit-appearance: none;

  &::-moz-focus-inner {
    padding: 0;
    border: none;
  }
  display: block;
  border: none;
  border-radius: 0;
  padding: 0;
  text-decoration: none;
  transition: all 0.3s;
  background-color: transparent;
  cursor: pointer;

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    min-width: 115px;
    padding: 15px 20px;
    border: 1px solid map-get($map:$btn-primary, $key:focus);

    font-size: map-get($map:$button-base, $key:font-size);
    font-weight: map-get($map:$button-base, $key:font-weight);
    line-height: map-get($map:$button-base, $key:line-height);
    text-transform: uppercase;
    text-align: center;
    color: map-get($map:$btn-primary, $key:color);

    background-color: map-get($map:$btn-primary, $key:bg-default);
    transition: all 0.3s;
  }

  &__icon {
    position: relative;
    flex: none;
    width: auto;
    margin-left: 10px; // order: 0;
    line-height: 0; // fix excess height
    z-index: 1;
    transition: rotate 0.3s;

    &_right {
      order: 1;
      margin-left:  35px;
      margin-right: 0;

      @include do(1050px) {
        margin-left: 5px;
      }
    }

    &_only {
      margin-left: 0;
    }
  }

  &__title {
    min-width: 0;
    z-index: 1;
  }

  &.is-loading {
    opacity: 0.5;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    pointer-events: none;

    .button {
      &__content {
        color: map-get($map: $color, $key:disabled);
        border-color: map-get($map: $color, $key:disabled);
      }
    }
  }

  &.is-hidden {
    display: none;
  }
}

.button_full {
  display: block;
  width: 100%;

  .button__content {
    min-width: auto;
  }
}

.button_fill {
  &:hover {
    .button {
      &__content {
        @include do($lg, "min-width") {
          background-color: map-get($map: $btn-primary, $key:bg-focus);
        }
      }
    }
  }

  &:active {
    .button {
      &__content {
        opacity: 0.8;
      }
    }
  }
}

.button_fill.button_gray {
  .button {
    &__content {
      border-color: #838388;
      color: #838388;
    }
  }

  &:hover {
    .button {
      &__content {
        @include do($lg, "min-width") {
          color: map-get($map: $color, $key:light);
          border-color: map-get($map: $color, $key:light);
          background-color: transparent;
        }
      }
    }
  }
  
  &:active {
    .button {
      &__content {
        opacity: 0.8;
      }
    }
  }
}

.button_filled {
  .button {
    &__content {
      background-color: map-get($map: $color, $key:focus);
    }
  }

  &:hover {
    @include do($lg, "min-width") {
      opacity: 0.9;
    }
  }

  &:active {
    .button {
      &__content {
        opacity: 0.8;
      }
    }
  }

  &.is-disabled{
    .button {
      &__content {
        background-color: #333333;
        border: 1px solid #333333;
        cursor: not-allowed;
      }
    }
  }
}

.button_dashed {
  .button {
    &__content {
      padding: 5px 0;
      border: none;

      font-size: 10px;
      line-height: 1.2;
      color: map-get($map: $color, $key:focus);
      border-bottom: 1px dashed map-get($map: $color, $key:focus);
    }
  }
}

.button_dropdown {
  .button {
    &__icon {
      transform: rotate(180deg);
      transition: all 0.3s;
      svg {
        fill: map-get($map: $color, $key:focus);
      }
    }
  }

  &.is-open {
    .button {
      &__icon {
        transform: rotate(0);
      }
    }
  }
}

.button_text-blue {
  .button {
    &__content {
      color: map-get($map: $color, $key:focus);
    }
  }
  &:hover{
    .button {
      &__content {
        color: map-get($map: $color, $key:light);
      }
    }
  }
}
