.link {
  font-size: inherit;
  line-height: inherit;
  color: map-get($map:$color, $key:focus);
  transition: all 0.3s;

  svg {
    margin-right: 6px;
    fill: map-get($map:$color, $key:focus);
    transition: all 0.3s;
  }

  &:focus {
    outline: none;
  }

  @include do(1050px, "min-width") {
    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }
}
