.subtitle {
  margin: 0;
  font-size: 17px;
  letter-spacing: 0.17px;
  line-height: 25px;
  font-weight: $font-weight-bold;
  text-transform: uppercase;

  &--lg {
    font-size: 34px;
    letter-spacing: 0.85px;
    line-height: normal;
    font-weight: $font-weight-black;
    color: map-get($map: $color, $key: light);
  }

  &--center {
    text-align: center;
  }

  &--blue {
    color: map-get($map: $color, $key:focus);
  }
}
