.title {
  margin: 0;
  font-size: 28px;
  font-weight: $font-weight-black;
  line-height: normal;
  letter-spacing: normal;
  color: map-get($map: $color, $key: light);
  text-transform: uppercase;

  &--md {
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 0.9px;
  }

  &--lg {
    font-size: 50px;
    letter-spacing: 1.25px;
    line-height: normal;
  }

  &--center {
    text-align: center;
  }

  &--bold {
    font-weight: bold;
  }

  &--blue {
    color: map-get($map: $color, $key:focus);
  }
}
