/* --------------------------------
  Pallete 🎨
-------------------------------- */

/* Text */
$color: (
  default: #b1b1b1,
  light: #ffffff,
  remark: #3b3b3b,
  highlight: #000000,
  focus: #398be0,
  warning: #fbbc05,
  disabled: #83858b
);


$bg: (
  primary: rgb(221, 239, 251),
  secondary: rgb(245, 245, 245),
  light: white,
  dark: rgb(44, 44, 44),
  warning: #fbbc05
);

/* Title */
$title: (
  default: map-get($map: $color, $key:hightlight),
);

/* Buttons */
$btn-primary: (
  color: map-get($map: $color, $key:light),
  focus: rgb(72, 164, 242),
  bg-default: transparent,
  bg-focus: map-get($map: $color, $key:focus),
  bg-active: rgba(map-get($map: $color, $key:focus), 0.5)
);

$btn-transparent: (
  color: map-get($map: $color, $key:hightlight),
  bg-default: transparent,
  border-default: rgb(57, 204, 69),
  border-focus: rgb(35, 180, 47),
  border-active: rgb(35, 180, 47)
);

$btn-menu: (
  default: #23b230,
  focus: #23b42f,
  close: rgb(212, 212, 212)
);
