extends ../core/body
include ../functions/inlineSvg
include ../components/good.pug
include ../components/modal.pug

block title
  | Главная страница 🌟

block content
  section.block.block--intro
    .block__wrapper 
        .block__side
          a.block__logo.logo(href='#', title='Legion')
            img(src='images/logo/legion.png', alt='Legion')
        
          .block__title.title.title--bold.title--blue Магазин легионера

          .block__subtitle.subtitle.subtitle--blue Собрал киллы – заслужил награду. Обменивай их&nbsp;на игры или специальные предложения от наших партнеров.

        .block__main
          .goods
            ul.goods__list.js-carousel
              - 
                var goods = [
                  {
                    template: 'default',
                    title: 'Red Dead <br> Redemption 2',
                    kills: '5 000',
                    timer: '2020/4/20 12:00:00',
                    notification: true,
                    button: {
                      title: 'Уведомить'
                    },
                  },
                  {
                    template: 'default',
                    title: 'MK 11 Premium <br> edition',
                    kills: '15 700',
                    timer: '2020/4/20 12:00:00',
                    button: {},
                  },
                  {
                    template: 'default',
                    title: 'XCOM 2 <br> War of the Chosen',
                    kills: '15 000',
                    timer: '2020/4/20 12:00:00',
                    notification: true,
                    button: {
                      title: 'Уведомить'
                    },
                  },
                  {
                    template: 'default',
                    title: 'Watch Dogs: <br> Legion',
                    kills: '12 000',
                    timer: '2020/4/20 12:00:00',
                    notification: true,
                    button: {},
                  },
                  {
                    template: 'default',
                    title: 'Doom <br> Eternal',
                    kills: '5 000',
                    timer: '2020/4/20 12:00:00',
                    notification: true,
                    button: {
                      title: 'Уведомить'
                    },
                  }
                ]

              each good, index in goods
                +good(good, index)



  section.filter.block.js-filter
    .filter__wrapper.block__wrapper
      .filter__side
        .filter__title.title Предложения от партнеров:
        .filter__options

          -
            var options = [
              {
                value:  'all',
                title:  'Все предложения',
                attributes: {
                  class: 'is-active'
                }
              },
              {
                value:  '#1',
                title:  'Поездки',
              },
              {
                value:  '#2',
                title:  'Еда',
              },
              {
                value:  '#3',
                title:  'Развлечения',
              },
            ]

          each option in options
            a.filter__option.js-option&attributes(option.attributes)(data-filter-select= option.value)= option.title
              .filter__state
                .filter__state-part.filter__state-part--left
                .filter__state-part.filter__state-part--right


      .filter__main
        .filter__list

          -
            var offers = [
              {
                link:       'https://www.delivery-club.ru/',
                image:      'images/pics/offers/offer-01.jpg',
                quantity:   '500',
                available:  '170',
                value: '#1'
              },
              {
                link:       'https://www.ivi.ru/',
                image:      'images/pics/offers/offer-02.jpg',
                quantity:   '350',
                available:  '210',
                value: '#2'
              },
              {
                link:       'https://city-mobil.ru/',
                image:      'images/pics/offers/offer-03.jpg',
                quantity:   '300',
                available:  '15',
                value: '#3'
              },
              {
                link:       'https://www.ivi.ru/',
                image:      'images/pics/offers/offer-02.jpg',
                quantity:   '350',
                available:  '210',
                value: '#1'
              },
            ]

          each offer in offers
            a.filter__item.js-filter-item(href=`${offer.link}`, data-filter-value= offer.value)
              .offer
                .offer__image
                  .offer__image-wrapper(style=`background-image: url(${offer.image})`)
                .offer__data
                  .offer__quantity.offer__quantity--total
                    span.offer__quantity-value= offer.quantity
                    | промокодов на этой неделе
                  .offer__quantity.offer__quantity--available
                    span.offer__quantity-value= offer.available
                    | осталось

  section.block.block--partners
    .block__wrapper
        .block__side
          .title.title--lg.title--center Легионер, следи за обновлениями.
          .subtitle.subtitle--lg.subtitle--center Совсем скоро появятся предложения от
        .block__main
          .partners

            -
              var partners = [
                {
                  link: 'https://www.mvideo.ru/',
                  image:  'images/pics/partners/partner-01.jpg',
                },
                {
                  link: 'https://www.citilink.ru/',
                  image: 'images/pics/partners/partner-02.jpg',
                },
                {
                  link: 'https://technopoint.ru/',
                  image:  'images/pics/partners/partner-03.jpg',
                },
                {
                  link: 'https://www.re-store.ru/',
                  image: 'images/pics/partners/partner-04.jpg',
                },
              ]

            each partner in partners
              .partners__item
                a.partners__link(href=`${partner.link}`)
                  span.partners__image(style=`background-image: url(${partner.image})`)

  +modal({
    template: 'preview',
    attributes: {
      id: 'preview-modal',
      class: 'modal--preview',
      style: 'display: none'
    }
  })

  +modal({
    template: 'confirm',
    attributes: {
      id: 'confirm-modal',
      class: 'modal--confirm',
      style: 'display: none'
    }
  })

  +modal({
    template: 'processing',
    attributes: {
      id: 'processing-modal',
      class: 'modal--processing',
      style: 'display: none'
    }
  })

  +modal({
    template: 'navigation',
    attributes: {
       id: 'navigation-modal',
       class: 'modal--navigation',
       style: 'display: none'
    }
  })