mixin accounts(props)
  .accounts&attributes(props.attributes)
    .accounts__row
      .accounts__col
        .accounts__quantity 30
      .accounts__col
        .accounts__currency киллов
        .accounts__total 
          | у тебя: 
          span.accounts__remark.js-accounts-total 10 674

