include ./button.pug

mixin good(props, index)
  - var buttonTitle = props.button.title? props.button.title: 'Купить'
  - var buttonSizeMod = props.button.title? 'good__button--lg': ''

      if (props.template === 'default')
        .good
          .good__wrapper
            .good__main
              .good__background(style=`background-image: url(images/pics/goods/good-bg-${index + 1}.jpg)`)
              h3.good__title !{props.title}
              .good__image(style=`background-image: url(images/pics/goods/good-img-${index + 1}.jpg)`, aria-label= props.title)

            if !props.notification
              .good__side
                .good__price 
                  span !{props.kills} 
                  | киллов
                
                +button(buttonTitle, {
                  tag: 'div',
                  btnMods: `good__button _fill ${buttonSizeMod} js-preview-modal`,
                  data: {
                    src: '#preview-modal'
                  }
                })
            else
              .good__side.js-timer-container

                .good__timer.timer.js-timer(data-date= props.timer)
                  .timer__side Доступен через
                  .timer__main
                    .js-days.timer__item
                      .timer__value 
                      .timer__unit 
                    .js-hours.timer__item
                      .timer__value 
                      .timer__unit 
                    .js-minutes.timer__item
                      .timer__value 
                      .timer__unit 

                .good__price.js-good-price.is-hidden 
                  span !{props.kills} 
                  | киллов

                +button('Купить', {
                  tag: 'div',
                  btnMods: `good__button _filled js-preview-modal js-button-buy is-hidden`,
                  data: {
                    src: '#preview-modal'
                  }
                })
                
                +button(buttonTitle, {
                  tag: 'div',
                  btnMods: `good__button _fill ${buttonSizeMod} _gray js-button-notify`
                })
                