include ../functions/inlineSvg.pug
include ./button.pug
include ./accounts.pug


mixin modal(props)
  .modal&attributes(props.attributes)
    .modal__wrapper
      .modal__background
        if props.template === 'navigation'
          canvas#smokeAtTop(width="100%" height="100%")

      button.modal__close(type='button', title='Закрыть модальное окно', data-fancybox-close)
        +inlineSvg('icon-close', 18, 18)

      if (props.template === 'preview')
        #activation.modal__dropdown
          p Для активации промокода необходимо указать данные банковской карты. Промокод доступен только для новых пользователей ivi или пользователей ivi, которые не использовали другие промокоды ivi в течение 180 дней. Один уникальный код предназна- чен для активации на одном аккаунте ivi. Срок активации промокода — до ?? мая 2020 года. В настройках аккаунта ivi включе- но автопродление. Отключение автопродления возможно в аккаунте ivi. Использование сервиса ivi доступно для лиц старше 18 лет. Пробный период пользования подпиской ivi предоставляется в соответствии с Пользовательским соглашением сервиса ivi (
            a.link(href='https://www.ivi.ru/info/agreement', title="Пользовательское соглашение") https://www.ivi.ru/info/agreement
            |) и Правилами использования сертификатов 
            a.link(href='https://www.ivi.ru/info/certificate', title="Правила использования Сертификатов") https://www.ivi.ru/info/certificate

        .modal__side
          .modal__image(style='background-image: url("images/pics/offers/offer-02.jpg")', aria-label="Ivi")
          span *не больше 10 промокодов для каждого легионера
        .modal__main
          .modal__content
            img.modal__age(src='images/icons/+18.png', alt="+18")
            .modal__title ivi
            .modal__description Крупнейший онлайн-кинотеатр в России. Наша&nbsp;коллекция насчитывает свыше 80 000 сериалов и фильмов: от голливудских студий до фестивальных премьер, от эксклюзивных новинок до неэкслюзивных.
          .modal__footer
            .modal__row
              .modal__col.modal__col-group
                .modal__subtitle 1 месяц подписки ivi
                +accounts({
                  attributes: {
                    class: 'modal__accounts'
                  }
                })
              .modal__col
                +button('Купить', {
                  btnMods: 'modal__button _filled js-confirm-modal',
                  data: {
                    src: '#confirm-modal'
                  }
                })
            +button('Правила использования промокода', {
              btnMods: 'modal__trigger-dropdown _dashed _dropdown js-toggle-dropdown',
              icon: {
                mods: '_right _dropdown-arrow',
                name: 'icon-arrow-up',
                width: 9,
                height: 5
              },
              data: {
                dropdown: '#activation',
              }
            })

      if (props.template === 'confirm')
        .modal__main
          .modal__title Легионер, подтверди обмен: 
            span.modal__choice.js-confirm-choice 1 месяц подписки ivi
          
          .modal__total Стоимость: 500 киллов
        .modal__side
          +button('Подтверждаю', {
            btnMods: 'modal__button _filled js-processing-modal',
            data: {
              src: '#processing-modal'
            }
          })

          +button('Нет', {
            btnMods: 'modal__button _fill _text-blue',
            data: {
              'fancybox-close': ''
            }
          })
      
      if (props.template === 'processing')
        .modal__container
          .modal__main
            .modal__title Твой промокод
            .modal__code.js-processing-code RRFGGFEDFS-2233
            p Ты всегда сможешь найти его в своем 
              a.link(href='#', title="Перейти в личный кабинет") личном кабинете
          .modal__side
            p Все подробности об использовании 
              a.link(href='#', title="Узнать подробнее про промокод") промокода
              |  читай на сайте 
              a.link(href='#', title="Перейти на сайт ivi.ru") ivi.ru 
            
            +button('Хорошо!', {
              btnMods: 'modal__button _filled',
              data: {
                'fancybox-close': ''
              }
            })

      if (props.template === 'navigation')
        .modal__container
          .modal__side
            .modal__close(data-fancybox-close="")
              +inlineSvg('icon-close-large', 80, 80)
          .modal__main
            nav.modal__nav.nav.nav--vertical
              ul.nav__list

                -
                  var nav = [
                    {
                      name: 'Аукцион',
                      title: 'Перейти на страницу Аукцион'
                    },
                    {
                      name: 'Lenovo Legion',
                      title: 'Перейти на страницу Lenovo Legion'
                    },
                    {
                      name: 'Как залутать?',
                      title: 'Узнать, как залутать?'
                    },
                  ]

                each link in nav 
                  li.nav__item
                    a(href="#", title= link.title)
                      span= link.name
                    
                +button('Вступить в легион', {
                  tag: 'a',
                  btnMods: 'header__button header__button_md-visible _fill'
                })