<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="format-detection", content="telephone=no")
    title
      block title

    block styles
      link(rel="stylesheet", href="css/vendor.css")
      link(rel="stylesheet", href="css/main.css")
    
    block scripts

  body.body
    .body__wrapper
      .body__background.body__background--legion
        .body__background-wrapper
          .body__background-image
      .body__pattern
        .body__pattern-wrapper
          .body__pattern-top
            .body__pattern-top-left
            .body__pattern-top-center
            .body__pattern-top-right
          .body__pattern-bottom
            .body__pattern-bottom-left
            .body__pattern-bottom-center
            .body__pattern-bottom-right

      header.body__header
        block header
          include ./header.pug
      main.body__content
        block content
      footer.body__footer
        block footer
          include ./footer.pug

      script(src="scripts/bundle.js" defer)
