footer.footer.block
  .footer__wrapper.block__wrapper
    .footer__row
      .footer__column
        .footer__copyright
          | &copy;
          span.footer__copyright-year 2020
          | Lenovo
      .footer__column
        .footer__disclaimer
          .footer__disclaimer-part
            span.footer__disclaimer-text Узнать больше о девайсах  Lenovo Legion здесь:
            a.footer__disclaimer-link(
              href="https://www.lenovo.com/"
            ) lenovo.com
          .footer__disclaimer-part
            span.footer__disclaimer-text Призовой фонд может быть изменен
      .footer__column
        .footer__filelist
          .filelist
            .filelist__item.filelist__item--pdf
              a.filelist__link(
                 href=""
              ) Подробная инструкция
            .filelist__item.filelist__item--pdf
              a.filelist__link(
                 href=""
              ) Условия акции