include ../components/button.pug
include ../functions/inlineSvg.pug

header.header.block
	.header__wrapper.block__wrapper
		a.header__logo.header__logo--mr-auto.logo(href='#', title="#")
			img(src='images/logo/lenovo.jpg', alt='Lenonv')

		.header__main
			nav.header__nav.nav
				ul.nav__list

					-
						var nav = [
							{
								name: 'Аукцион',
								title: 'Перейти на страницу Аукцион'
							},
							{
								name: 'Lenovo Legion',
								title: 'Перейти на страницу Lenovo Legion'
							},
							{
								name: 'Как залутать?',
								title: 'Узнать, как залутать?'
							},
						]

					each link in nav 
						li.nav__item
							a(href="#", title= link.title)
								span= link.name
								
				+button('Регистрация/Вход', {
					tag: 'a',
					btnMods: 'header__button header__button_md-hidden _fill'
				})

				//- +button('Вступить в легион', {
				//- 	tag: 'a',
				//- 	btnMods: 'header__button header__button_md-visible _fill'
				//- })

		a.header__logo.header__logo--ml-auto.logo(href='#', title="#")
			img(src='images/logo/intel.png', alt='Intel')

		button.header__menu-toggle.menu-toggle.js-menu-toggle.js-navigation-modal(type='button', data-src="#navigation-modal",title="Закрыть меню")
			.menu-toggle__background
			span.menu-toggle__content
				span
				span
				span

			